In [1]:
import numpy as np
import pandas as pd
from yahooquery import Ticker, Screener

In [2]:
df_tickers = pd.read_excel('../data/external/Yahoo Finance Tickers - 2021Feb08.xlsx')

In [3]:
df_tickers.to_csv('../data/external/Yahoo Finance Tickers - 2021Feb08.csv', index = False)

In [15]:
symbols = df_tickers['Symbol'].values

In [16]:
symbols

array(['AAPL34.SA', 'MSFT34.SA', 'AMZO34.SA', ..., 'XPIN11.SA',
       'XPLG11.SA', 'ALZR11.SA'], dtype=object)

In [17]:
tickers = Ticker(symbols, asynchronous=True)

In [18]:
data = tickers.asset_profile

In [19]:
symbols

array(['AAPL34.SA', 'MSFT34.SA', 'AMZO34.SA', ..., 'XPIN11.SA',
       'XPLG11.SA', 'ALZR11.SA'], dtype=object)

In [20]:
data['AMZO34.SA']

{'address1': '410 Terry Avenue North',
 'city': 'Seattle',
 'state': 'WA',
 'zip': '98109-5210',
 'country': 'United States',
 'phone': '206-266-1000',
 'website': 'http://www.amazon.com',
 'industry': 'Internet Retail',
 'sector': 'Consumer Cyclical',
 'longBusinessSummary': 'Amazon.com, Inc. engages in the retail sale of consumer products and subscriptions in North America and internationally. The company operates through three segments: North America, International, and Amazon Web Services (AWS). It sells merchandise and content purchased for resale from third-party sellers through physical and online stores. The company also manufactures and sells electronic devices, including Kindle, Fire tablets, Fire TVs, Rings, and Echo and other devices; provides Kindle Direct Publishing, an online service that allows independent authors and publishers to make their books available in the Kindle Store; and develops and produces media content. In addition, it offers programs that enable sellers to sell their products on its websites, as well as its stores; and programs that allow authors, musicians, filmmakers, skill and app developers, and others to publish and sell content. Further, the company provides compute, storage, database, analytics, machine learning, and other services, as well as fulfillment, advertising, publishing, and digital content subscriptions. Additionally, it offers Amazon Prime, a membership program, which provides free shipping of various items; access to streaming of movies and TV episodes; and other services. The company serves consumers, sellers, developers, enterprises, and content creators. Amazon.com, Inc. was founded in 1994 and is headquartered in Seattle, Washington.',
 'fullTimeEmployees': 1271000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Jeffrey P. Bezos',
   'age': 56,
   'title': 'Founder, Chairman, Pres & CEO',
   'yearBorn': 1964,
   'fiscalYear': 2020,
   'totalPay': 1681840,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brian T. Olsavsky',
   'age': 56,
   'title': 'Sr. VP & CFO',
   'yearBorn': 1964,
   'fiscalYear': 2020,
   'totalPay': 163200,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. David A. Zapolsky',
   'age': 56,
   'title': 'Sr. VP, Gen. Counsel & Sec.',
   'yearBorn': 1964,
   'fiscalYear': 2020,
   'totalPay': 163200,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. David H. Clark',
   'age': 47,
   'title': 'Chief Exec. Officer of Worldwide Consumer',
   'yearBorn': 1973,
   'fiscalYear': 2020,
   'totalPay': 166783,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Andrew R. Jassy',
   'age': 52,
   'title': 'Chief Exec. Officer of Amazon Web Services Inc.',
   'yearBorn': 1968,
   'fiscalYear': 2020,
   'totalPay': 209381,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Shelley L. Reynolds',
   'age': 55,
   'title': 'VP, Worldwide Controller & Principal Accounting Officer',
   'yearBorn': 1965,
   'fiscalYear': 2009,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Werner  Vogels',
   'title': 'Chief Technology Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Dave  Fildes',
   'title': 'Director of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ragia  Samir',
   'title': 'Head of Marketing',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Beth  Galetti',
   'title': 'Sr. VP of Worldwide HR',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 1,
 'boardRisk': 9,
 'compensationRisk': 9,
 'shareHolderRightsRisk': 2,
 'overallRisk': 6,
 'governanceEpochDate': '2021-04-29 21:00:00',
 'compensationAsOfEpochDate': '2020-12-30 21:00:00',
 'maxAge': 86400}

In [24]:
income = tickers.income_statement(frequency='q', trailing=False)

In [12]:
prices = tickers.history(period = 'max')

In [13]:
prices.to_csv('../data/output/prices.csv')

In [23]:
prices

                       volume      close        low       open       high  \
symbol    date
AAPL34.SA 2012-02-23      0.0   3.164290   3.164290   3.164290   3.164290
          2012-02-24      0.0   3.164290   3.164290   3.164290   3.164290
          2012-02-27      0.0   3.164290   3.164290   3.164290   3.164290
          2012-02-28      0.0   3.164290   3.164290   3.164290   3.164290
          2012-02-29  11200.0   3.308930   3.308930   3.308930   3.308930
...                       ...        ...        ...        ...        ...
GOGL35.SA 2021-05-21    112.0  83.440002  83.349998  83.440002  83.910004
          2021-05-24    622.0  85.820000  84.440002  84.440002  85.820000
          2021-05-25    986.0  85.930000  85.169998  85.820000  85.930000
          2021-05-26   7969.0  86.440002  85.949997  85.949997  86.690002
          2021-05-28      0.0  83.760002   0.000000   0.000000   0.000000

                       adjclose  dividends  splits
symbol    date
AAPL34.SA 2012-02-23   0.671165        0.0     0.0
          2012-02-24   0.671165        0.0     0.0
          2012-02-27   0.671165        0.0     0.0
          2012-02-28   0.671165        0.0     0.0
          2012-02-29   0.701844        0.0     0.0
...                         ...        ...     ...
GOGL35.SA 2021-05-21  83.440002        0.0     0.0
          2021-05-24  85.820000        0.0     0.0
          2021-05-25  85.930000        0.0     0.0
          2021-05-26  86.440002        0.0     0.0
          2021-05-28  83.760002        0.0     0.0

[9417 rows x 8 columns]

In [26]:
income

{'error': 'HTTP 404 Not Found.  Please try again'}

In [27]:
income[0]

KeyError: 0